
  <body>
    <div class="navbar navbar-default navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><span>Brand</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
             <li>
			<a>歡迎光臨!!<%= user.name%></a>
			</li>
			 <li>
              <a href="home">商品頁</a>
            </li>
            <li>
              <a href="addcommodity">添加商品</a>
            </li>
			 <li>
              <a href="cart">購物車</a>
            </li>
			<li>
              <a href="logout">退出</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  